body{
    overflow: visible;
    background: #1C2430;
    margin: 0;
    padding: 0;
}
/*Code for background bluring adapted from: https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter*/
/*Code for using RBGA values for colours adapted from: https://www.w3schools.com/css/css_colors_rgb.asp*/
.headerGradient{
    position: absolute;
    width: 115%;
    height: 400px;
    top: -200px;
    left:-40px;
    background-color: rgba(158, 57, 238, 0.2);
    transform: rotate(-6deg);
    border: 5px solid white;
    box-sizing: border-box;
    z-index: -99;
    backdrop-filter: blur(20px);
}
.backgroundIMG {
    height: 200vh;
    background: url('../images/BackgroundIMG.png') center center;
    background-repeat: repeat-y; 
    background-repeat: repeat-x;
    background-size: auto;
    background-position: center;
    z-index: 0;
}
.glzxText{
    position: relative;
    left: 5%;
    top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFB342;
}
.driverText{
    position: relative;
    left: 10%;
    top: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
.glzxTextALT{
    position: absolute;
    left: 5%;
    top: -25%;
    bottom: 55%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFB342;
}
.driverTextALT {
    position: absolute;
    left: 15%;
    top: 16%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
.mainTabs {
    right: 0%;
    top: 0%;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 0%;
    display: flex;
    transform: rotate(0deg);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    color: #fff;
}
.mainTabs a {
    color: #fff;
    padding: 10px;
    margin: 10px;
}
a:hover {
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}
.bottomBanner {
        height: 10%;
        width: 100%;
        background-color: rgba(158, 57, 238, 0.2);
        margin: auto;
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        z-index: 1;;
}