body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (min-width: 769px) {
  .transitionContainer {
      position: absolute;
      top: 50%;
      left: 5%;
      width: 35%;
      height: 40%;
    }
    
    .transitionBox {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(158, 57, 238, 0.3);
      border: 2px solid white;
      border-radius: 10px;
      margin: auto;
      top: 0%;
      left: 0%;
      backdrop-filter: blur(2px);
      z-index: 1;
    }
    
    .transitionBox:hover {
      background-color: rgba(158, 57, 238);
      cursor: pointer;
      z-index: 5;
    }
    
    .transitionBox2 {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(158, 57, 238, 0.3);
      border: 2px solid white;
      border-radius: 10px;
      margin: auto;
      top: 60%;
      left: 30%;
      backdrop-filter: blur(2px);
      z-index: 1;
    }
    
    .transitionBox2:hover {
      background-color: rgba(158, 57, 238);
      cursor: pointer;
      z-index: 5;
    }
}
  